//-Created by lailai on 2017/4/24.
.container
   ul#mytab.nav.nav-pills.nav-justified
      li(role="presentation")
         a.list-group-item(href='/') 电影主页
      li(role="presentation")
         a.list-group-item(href='/admin/movie') 后台录入电影
      li(role="presentation")
         a.list-group-item(href='/admin/movie/list') 电影列表
      li(role="presentation")
         a.list-group-item(href='/user/userlist') 用户列表
      li(role="presentation")
         a.list-group-item(href='/admin/catetory/new') 新增电影分类
      li(role="presentation")
         a.list-group-item(href='/admin/catetorylist') 分类列表
   script(src='/js/sidbar.js')